In [1]:
import pandas as pd

# Step 1: Create the temperature DataFrame

temperature_data = {

    'timestamp': [

        '2025-10-23 08:00:00', '2025-10-23 08:05:00', '2025-10-23 08:10:00',

        '2025-10-23 08:20:00', '2025-10-23 08:35:00', '2025-10-23 08:50:00',

        '2025-10-23 09:00:00', '2025-10-23 09:10:00'

    ],

    'temperature': [22.1, 22.3, 22.5, 22.6, 22.8, 23.0, 23.3, 23.5]

}

df_temp = pd.DataFrame(temperature_data)

df_temp['timestamp'] = pd.to_datetime(df_temp['timestamp'])

df_temp = df_temp.sort_values('timestamp')

# Step 2: Create the device status DataFrame

status_data = {

    'timestamp': [

        '2025-10-23 08:00:00', '2025-10-23 08:15:00',

        '2025-10-23 08:45:00', '2025-10-23 09:05:00'

    ],

    'status': ['OFF', 'ON', 'OFF', 'ON']

}

df_status = pd.DataFrame(status_data)

df_status['timestamp'] = pd.to_datetime(df_status['timestamp'])

df_status = df_status.sort_values('timestamp')

In [2]:
df_status.head()

            timestamp status
0 2025-10-23 08:00:00    OFF
1 2025-10-23 08:15:00     ON
2 2025-10-23 08:45:00    OFF
3 2025-10-23 09:05:00     ON

In [3]:
# join data by using merge
df = pd.merge_asof(df_temp, df_status)
df.head()

            timestamp  temperature status
0 2025-10-23 08:00:00         22.1    OFF
1 2025-10-23 08:05:00         22.3    OFF
2 2025-10-23 08:10:00         22.5    OFF
3 2025-10-23 08:20:00         22.6     ON
4 2025-10-23 08:35:00         22.8     ON

In [4]:
df.isnull().sum()

timestamp      0
temperature    0
status         0
dtype: int64

In [5]:
# Filter for records where the device was ON
df_filter = df[df["status"] == "ON"]
df_filter.head()

            timestamp  temperature status
3 2025-10-23 08:20:00         22.6     ON
4 2025-10-23 08:35:00         22.8     ON
7 2025-10-23 09:10:00         23.5     ON

In [7]:
# Calculate the average temperature per hour when the device was ON.
df_filter['hour'] = (df_filter["timestamp"].dt.hour)
df_filter.head()

C:\Users\dilrabo\AppData\Local\Temp\ipykernel_7248\2980192681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter['hour'] = (df_filter["timestamp"].dt.hour)

            timestamp  temperature status  hour
3 2025-10-23 08:20:00         22.6     ON     8
4 2025-10-23 08:35:00         22.8     ON     8
7 2025-10-23 09:10:00         23.5     ON     9

In [9]:
#average temperature per hour
df_avg_temp = df_filter.groupby(['hour'])['temperature'].mean()
df_avg_temp

hour
8    22.7
9    23.5
Name: temperature, dtype: float64